/* sitewide */
body{ background-color:#ffffff;color:#666666; font-family: Arial, sans-serif; font-size:small;}
a:link, a:visited{ color: #666666;text-decoration: none;}
a:hover, a:active { color: #666666; text-decoration: none; color:#651d01;}
ul, td ul { margin-top:0em;}
li, td li {list-style-type:none;margin-left:-15px; font-size:small;}
p {	margin-top:0px;font-size:small;line-height: 1.5em; }
h1 {font-size:large;font-weight:bold;}
h2 {font-size:medium;line-height: 1.2em; font-weight: bold;margin-bottom:0px;}
.leftImg {margin-right:20px; border:0px;}
.tableItem {margin-bottom:30px;}

/* positioning */
#all { margin-top: 20px; margin-left: auto; margin-right:auto; width: 600px; vertical-align: top; position:relative; text-align:left;}
#left { margin-top:30px; float:left; width:445px;}
#right { float:right; width:155px; text-align:right;}
#nav {width:128px; margin-left:27px; position:relative;}
#foot {width:600px; padding-top:30px; clear:left;}

/* rollovers */
b {display:none;}
#navResume a, #navResumeA a{position:absolute; left:0px; height:12px; width:55px; background-image:url(images/navResumeT.gif);}
#navResume a:hover, #navResumeA a{background-image:url(images/navResumeA.gif);}
	#navEducation a, #navEducationA a{position:absolute; left:0px; top:12px; height:12px; width:128px;background-image:url(images/navEducationT.gif);}
	#navEducation a:hover, #navEducationA a{background-image:url(images/navEducationA.gif);}
	#navEmployment a, #navEmploymentA a{position:absolute; left:0px; top:24px; height:12px; width:128px;background-image:url(images/navEmploymentT.gif);}
	#navEmployment a:hover, #navEmploymentA a{background-image:url(images/navEmploymentA.gif);}
	#navSkills a, #navSkillsA a{position:absolute; left:0px; top:36px; height:12px; width:128px;background-image:url(images/navSkillsT.gif);}
	#navSkills a:hover, #navSkillsA a{background-image:url(images/navSkillsA.gif)}

#navPortfolio a, #navPortfolioA a{position:absolute; left:55px; height:12px; width:73px;background-image:url(images/navPortfolioT.gif);}
#navPortfolio a:hover, #navPortfolioA a{background-image:url(images/navPortfolioA.gif);}
	#navWeb a, #navWebA a{position:absolute; left:0px; top:12px; height:12px; width:128px;background-image:url(images/navWebT.gif);}
	#navWeb a:hover, #navWebA a{background-image:url(images/navWebA.gif);}
	#navFlash a, #navFlashA a{position:absolute; left:0px; top:24px; height:12px; width:128px;background-image:url(images/navFlashT.gif);}
	#navFlash a:hover, #navFlashA a{background-image:url(images/navFlashA.gif);}
	
#contact a{position:absolute; left:0px; width:69px; height:12px; background-image:url(images/navContactA.gif);}
#contact a:hover{background-image:url(images/navContactT.gif);}

/* colors
brown: 4e3514
blue: 336699
red: 651d01
grey: 666666
*/