/* General */
body {color:#000000; background: white; font-family:Verdana, Helvetica, sans-serif; font-size:12pt;}
a:link, a:visited { color:#00388c; text-decoration:underline;}
ul {margin-top:5px;}
li {margin-left:15px; list-style-type:disc;}

/* Text and Content Styles */
h1 {font-size:18pt; font-weight:bold; margin:35px 5px 5px 8px;}
h1.top {margin-top:10px;}
h2 {font-size:14pt; font-weight:bold; margin:0px 5px 5px 28px;}
h2.top { margin:10px 5px 10px 8px;}
h2.break {margin-top:35px;}
h3 {font-size:12pt; font-weight:bold; margin:0px 5px 5px 41px;}
h4 {font-size:12pt; font-weight:bold; margin:0px 5px 5px 58px;}

p {font-size:12pt; margin:0px 8px 10px 8px; color:#000000; line-height:1.2em;}
.text {margin:10px 5px 5px 28px;}
.text2 {margin:10px 5px 5px 41px;}
.text3 {margin:10px 5px 5px 58px;}
.text4 {margin:10px 5px 5px 70px;}

.imgTop { margin:0px 0px 0px 8px;}
.imgLeft {float:left; margin:3px 5px 3px 8px; border:1px solid #000; clear:left;}
.imgRight {float:right; margin:3px 8px 3px 5px; border:1px solid #000; clear:right;}

.tableAgenda {margin:0px 0px 0px 41px; width:400px;}
	.trAgendaTop TD {font-weight:bold; border-bottom:1px solid #000;}
.tdAgendaLeft {width:100px; vertical-align:text-top;}

.tableRegister {width:450px; margin:10px 0px 0px 20px; padding:5px; border:1px solid #000;}
	.tableRegister TR {padding-bottom:5px;}
.tdRegisterLeft {width:130px; font-weight:bold; text-align:right; padding:0px 8px 10px 0px}
.tdRegisterRight {width:100%; padding:0px 0px 10px 0px;}

/* Structural IDs */
#all {width:100%;}
#containerTop{display:none;}
#containerBottom{width:100%;}
	#tdLeft{width:100%;}
	#tdRight{display:none;}
		#content { 
			width:auto;
			float:none !important;
			background:transparent;
			}
		#nav {display:none;}
#mainFrame {
	width:6.5in;
	min-height:10in;
	}